src/Client/bin/
src/Client/obj/
src/Common/bin/
src/Common/obj/
src/Core.Web/bin/
src/Core.Web/obj/
src/Core/bin/
src/Core/obj/
src/EmbedCS/obj/
src/EmbedCS/bin/
src/MsHtmHstInterop/bin/
src/MsHtmHstInterop/obj/
src/pub/bin/
src/pub/obj/
src/Update/bin/
src/Update/obj/

src/wwwroot/Bin/

src/wwwroot/Files/Temp/
src/wwwroot/Files/Users/
src/wwwroot/Files/trace.txt

src/Tools/Release

*.suo
*.ncb
*.sdf
*.lesktop.bk
*.user
