.toolbar_ctrl
{
}

.acctree_ctrl
{
}

.mainmenu_btn .btn_text
{
    background: url(images/Image22.png) no-repeat -2px -24px;
}

.mainmenu_btn
{
}

.tempgroup_btn .btn_text
{
    background: url(images/Image22.png) no-repeat -2px -24px;
}

.tempgroup_btn
{
}

.btnviewcomment .btn_text
{
	background: url(Images/Image22.png) no-repeat -2px -486px;
}